<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete product</h1>
<a th:href="@{/products/list}">Back to list product</a>
<form th:action="@{/products/delete/__${product.id}__}" method="post" th:object="${product}">
    <div>
        <label>Id</label>
        <input type="text" th:field="*{id}" disabled>
    </div>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}" disabled>
    </div>
    <div>
        <label>Price</label>
        <input type="text" th:field="*{price}" disabled>
    </div>
    <div>
        <label>Description</label>
        <input type="text" th:field="*{description}" disabled>
    </div>
    <div>
        <label>Brand</label>
        <input type="text" th:field="*{brand}" disabled>
    </div>
    <button>Delete</button>
</form>
</body>
</html>